.body {
    margin: 0;
}

.main {
    background-color: white;
    height: 100vh;
}


.search-container {
    display: flex;
    align-items: center;
}

.statistic-container {
    padding: 1rem;
}

.statistic-container .card{
    background-color: bisque;
    border-radius: 12px;
    opacity: 0.8;
}

.card:hover {
    opacity: 1;
}

.statistic-container .card-body {
    padding: 1rem;
}

.map-container {
    height: 600px;
    padding: 0rem;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.chart-container {
    height: 250px;
    margin-left: 5px;
    margin-right: 5px;
}

.chart-container .col {
    background-color: blanchedalmond;
    display: flex;
    border-radius: 10px;
}

.line-container {
    height: 100%;
}

.pie-container {
    height: 100%;
}

.header-container {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.title-container h1 {
    margin-top: -10px;
    color: #fc3c3c;
}

.info-flag img {
    width: 120px;
    border-radius: 5px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #2c2c2c;
}

.info-container {
    width: 200px;
}

.info-flag {
    height: 100px;
    width: 95%;
    background-size: cover;
    border-radius: 5px;
}