.body {
    margin: 0;
    background-color: white;
}

.main {
    background-color: white;
    height: 100vh;
}


.search-container {
    display: flex;
    align-items: center;
}

.statistic-container {
    padding: 1rem;
}

.statistic-container .card{
    background-color: bisque;
    border-radius: 12px;
    opacity: 0.8;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    opacity: 1;
}

.statistic-container .card-body {
    padding: 1rem;
}

.statistic-container .card-body h6{
    font-size: 12px;
    font-weight: 400;
}

#total .card-subtitle {
    color: #FF0000;
}

#active .card-subtitle {
    color: #008000;
}

#recovered .card-subtitle {
    color: #9d80fe;
}

#vaccinated .card-subtitle {
    color: #0000FF;
}

.map-container {
    height: 600px;
    padding: 0rem;
    margin-bottom: 10px;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.chart-container {
    position: relative;
    height: 250px;
    margin-left: 5px;
    margin-right: 5px;
}

.chart-container {
    display: flex;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    
}

.line-container {
    height: 100%;
}

.pie-container {
    height: 100%;
}

.header-container {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.title-container h2 {
    margin-top: -10px;
    color: #fc3c3c;
}

.info-flag img {
    width: 120px;
    border-radius: 5px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #2c2c2c;
}

.info-container {
    width: 200px;
}

.info-flag {
    height: 100px;
    width: 95%;
    background-size: cover;
    border-radius: 5px;
}

.side-panel-container {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-panel-container h4 {
    margin-top: 10px;
}

.country-data {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    overflow: scroll;
}

.country-data .table td {
    padding: .5rem;
    border: none;
    font-size: 12px;
    font-weight: 400;
}


/* @media only screen and (max-width: 768px) {
    .xs-column-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  } */